/* This file contains the styles for the web app */
.btn-icon {
    width: 100%;
    height: 100%;
    padding: 0 !important;
    font-size: 22px;
}

nav {
    z-index: 9999;
}

#controls {
    z-index: 999;
    -webkit-box-shadow: 1px 0px 12px 1px rgba(50, 50, 50, 0.75);
    -moz-box-shadow: 1px 0px 12px 1px rgba(50, 50, 50, 0.75);
    box-shadow: 1px 0px 12px 1px rgba(50, 50, 50, 0.75);
}

#map {
    z-index: 99;
}

.nav-link {
    color: #fff !important;
}

