{% include "header.html" %}
<div class="container my-5">
    <div class="row">
        <div class="col-12">
            <h1><b>S</b>patio-<b>T</b>emporal <b>E</b>missions <b>E</b>stimator for <b>P</b>assenger vehicles (STEEP)</h1>
            <br>
            <p>Welcome! On this website you find the STEEP model developed by <i>Team Inselberg</i>. This project is part
             of the Academic Consultancy Training project at Wageningen University, in The Netherlands.</p>
            <p>This project is commissioned by <a href="https://www.tensing.com/en/" target="_blank">Tensing</a>.</p>
            <h5 class="mt-3">Background</h5>
            <p> As the largest source of CO2 emissions in Europe the transportation sector plays an important role in
                meeting the European Commission's environmental targets set out by the Paris Agreement. Of the total
                transportation emissions
                <a href="https://www.europarl.europa.eu/news/en/headlines/society/20190313STO31218/co2-emissions-from-cars-facts-and-figures-infographics#:~:text=Transport%20is%20responsible%20for%20nearly,2050%20compared%20to%201990%20levels."
                   target="_blank">70% come from road transit</a>, thus a route planning model which can quantify the
                spatial and temporal distribution of emissions would be useful for both planners and commuters to
                evaluate their impact. As no other model capturing the time-sensitivity of carbon emissions exists our
                group created STEEP - Spatio-Temporal Emission Estimator for passenger vehicles.</p>
            <p>The model considers vehicle characteristics and the driving environment based on time of
                departure. The result shows total emissions of a trip and indicates how congestion and free flow affect the overall emissions
                produced.</p>
            <p>An introductory video for STEEP can be found <a href="https://app.animaker.com/video?e=6J7LLA8DVERM2ART">here</a>.</p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12 d-flex justify-content-end">
            <a href="{{ url_for('index') }}" class="btn btn-primary">Take me to STEEP <i class="fas fa-arrow-right"></i></a>
        </div>
    </div>
</div>
{% include "footer.html" %}
