{% include "header.html" %}
<div class="container my-5">
    <div class="row">
        <div class="col-12">
            <h1><b>S</b>patio-<b>T</b>emporal <b>E</b>missions <b>E</b>stimator for <b>P</b>assenger vehicles (STEEP)</h1>
            <br>
            <p>Welcome! On this website you find the STEEP model developed by <i>Team Inselberg</i>. This project is part
             of the Academic Consultancy Training project at Wageningen University, in The Netherlands.</p>
            <p>This project is commissioned by <a href="https://www.tensing.com/en/" target="_blank">Tensing</a>.</p>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-12 d-flex justify-content-end">
            <a href="{{ url_for('index') }}" class="btn btn-primary">Take me to STEEP <i class="fas fa-arrow-right"></i></a>
        </div>
    </div>
</div>
{% include "footer.html" %}
