{% include "header.html" %}
<div class="container my-5">
    <div class="row">
        <div class="col-12">
            <h1>Help</h1>
            <br>
            <p>On this page you'll find information to help you get started with STEEP to estimate the footprint of your commute.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                               aria-expanded="true" aria-controls="collapseOne">
                                How do I run STEEP?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                         aria-labelledby="headingOne">
                        <div class="panel-body">
                            I
                        </div>
                        <div class="panel-body">Input your origin and departure destinations. Set the time of departure
                            and indicate whether or not you would like to include traffic information in your search. By
                            selecting the time window option you can see how various departure times affect your route
                            and emissions. Additionally you can vary the car parameters to determine what effect
                            different vehicles have on emissions. <a
                                    href="http://bootstraptema.ru/stuff/snippets_bootstrap/elements/stilnyj_bootstrap_accordion/33-1-0-1885"
                                    target="_blank">BootstrapTema</a>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingTwo">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                How do I interpret STEEP's results?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body">
                            The emi
                        </div>
                        <div class="panel-body">
                            Emssions of the route are calculated based on the vehicle parameters that
                            the user applies and the speeds derived from the calculated route. The vehicle parameters
                            are passed on to a script which determines the CO2 emission factors (g/km) for the various
                            speeds. The emission factors and equations are taken from EEA/EMEP Road Transport Handbook
                            and Appendix 4 <a
                                href="https://www.eea.europa.eu/publications/emep-eea-guidebook-2019/part-b-sectoral-guidance-chapters/1-energy/1-a-combustion"
                                target="_blank">here</a>,
                            in which they utilize the COPERT model by Emisia <a
                                href="https://www.emisia.com/utilities/copert/"
                                target="_blank">here</a>.
                            <a
                                    href="http://bootstraptema.ru/stuff/snippets_bootstrap/elements/stilnyj_bootstrap_accordion/33-1-0-1885"
                                    target="_blank">BootstrapTema</a>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingThree">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                What do the vehicle parameters mean?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="headingThree">
                        <div class="panel-body">
                            Vehicl
                        </div>
                        <div class="panel-body"> Vehicle parameters are the main factor which determine the CO2 emissions. The
                            vehicle standard can be found in the registration papers or in some cars on the side of your
                            vehicle door. If that information is not available you can guess based on the year of
                            manufacture for your vehicle based on the following table.
                            <table>
                                <tr>
                                    <th>Emission Standard</th>
                                    <th>Year of Manufacture</th>
                                </tr>
                                <tr>
                                    <td>Euro 4</td>
                                    <td>2005 -2008</td>
                                </tr>
                                <tr>
                                    <td>Euro 5</td>
                                    <td>2009 -2013</td>
                                </tr>
                                <tr>
                                    <td>Euro 6 up to 2016</td>
                                    <td>2014 - 2016</td>
                                </tr>
                                <tr>
                                    <td>Euro 6 2017-2019</td>
                                    <td>2017-2019</td>
                                </tr>
                                <tr>
                                    <td>Euro 6 2020+</td>
                                    <td>2020+</td>
                                </tr>
                            </table>

                            The vehicle emission standards are a set of maximum values for vehicle pollutants set by the
                            European Comission to regulate pollution from transportation. For more information click
                            <a
                                    href="https://www.theaa.com/driving-advice/fuels-environment/euro-emissions-standards"
                                    target="_blank">here</a>.
                            <a
                                    href="http://bootstraptema.ru/stuff/snippets_bootstrap/elements/stilnyj_bootstrap_accordion/33-1-0-1885"
                                    target="_blank">BootstrapTema</a>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingFour">
                        <h4 class="panel-title">
                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion"
                               href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                How can I make a commuting scenario?
                            </a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="headingFour">
                        <div class="panel-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lacinia lacinia mauris, at
                            ultricies leo ornare nec. Vivamus eu est vel felis dignissim tempor. Nulla facilisi. Duis
                            molestie tortor ac tempor volutpat. Phasellus nec mi aliquet, sollicitudin neque eget,
                            consectetur libero. Vestibulum sollicitudin sapien libero, egestas tempus eros scelerisque
                            eu. <a
                                href="http://bootstraptema.ru/stuff/snippets_bootstrap/elements/stilnyj_bootstrap_accordion/33-1-0-1885"
                                target="_blank">BootstrapTema</a>
                        </div>
                    </div>
                </div>

            </div><!-- /.panel-group -->

        </div><!-- /.col-md-offset-3 col-md-6 -->
    </div><!-- /.row -->

    <div class="row mt-5">
        <div class="col-12 d-flex justify-content-end">
            <a href="{{ url_for('index') }}" class="btn btn-primary">Take me to STEEP <i class="fas fa-arrow-right"></i></a>
        </div>
    </div>
</div>
{% include "footer.html" %}
