{% include "header.html" %}
<div class="container-fluid">
    <div class="row">
        <div id="controls" class="col-3">
            <div class="row mt-3">
                <div class="col-12">
                    <form id="form-calculate_route" action="{{ url_for('calculate_route') }}" method="post" role="form">
                        <h4>Route Settings</h4>
                        <div class="row mb-3">
                            <div class="col-10 pr-0">
                                <input id="start" type="text" class="form-control" name="start" placeholder="Start" required>
                                <input id="start-coords" type="hidden" name="start-coords" required>
                            </div>
                             <div class="col-2 pl-2">
                                 <button id="start-btn" title="Set Start" for="start" class="btn btn-primary btn-icon btn-loc" type="button"><i class="fas fa-arrow-right"></i></button>
                             </div>
                        </div>
                        <div class="row mb-3">
                             <div class="col-10 pr-0">
                                 <input id="dest" type="text" class="form-control" name="dest" placeholder="Destination" required>
                                 <input id="dest-coords" type="hidden" name="dest-coords" required>
                             </div>
                             <div class="col-2 pl-2">
                                 <button id="dest-btn" title="Set Destination"  for="dest" class="btn btn-primary btn-icon btn-loc" type="button"><i class="fas fa-arrow-right"></i></button>
                             </div>
                        </div>
                        <div id="results" style="display:none;"></div>
                        <div class="row mb-3">
                            <div class="col-10 pr-0">
                                <input id="departure" type="text" class="form-control" name="departure" placeholder="Departure date/time" required>
                            </div>
                            <div class="col-2 pl-2">
                                 <button id="today-btn" title="Today" class="btn btn-primary btn-icon" type="button"><i class="fas fa-calendar-day"></i></button>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6 pr-0">
                                <label for="route-type">Route type</label>
                                <select id="route-type" name="route-type" class="form-control">
                                    {% for routetype in routetypes %}
                                        <option value="{{routetype|lower}}">{{routetype}}</option>"
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <hr/>
                        <h4>Vehicle Parameters</h4>
                        <div class="row mb-3">
                            <div class="col-6 pr-0">
                                <label for="fuel">Fuel</label>
                                <select id="fuel" name="fuel" class="form-control v-param" data-idx="0">
                                    <option value="" disabled selected>Select a fuel type</option>
                                    {% for fuel in fuels %}
                                        <option value="{{fuel}}">{{fuel}}</option>"
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-6">
                                <label for="segment">Segment</label>
                                <select id="segment" name="segment" class="form-control v-param" data-idx="1" disabled>
                                        <option value="" disabled selected>Select a segment</option>
                                    {% for segment in segments %}
                                        <option value="{{segment}}">{{segment}}</option>"
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-6 pr-0">
                                <label for="standard">Standard</label>
                                <select id="standard" name="standard" class="form-control v-param" data-idx="2" disabled>
                                    <option value="" disabled selected>Select a standard</option>
                                    {% for standard in standards %}
                                        <option value="{{standard}}">{{standard}}</option>"
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6 offset-3">
                                <button id="calculate-btn" class="btn btn-primary" type="button" style="width:100%">Calculate Emissions</button>
                            </div>
                        </div>
                    </form>
                    <hr/>
                    <div id="report"></div>
                </div>
            </div>
        </div>
        <div id="map" class="col-9 p-0">
        </div>
    </div>
</div>
{% include "footer.html" %}

