{% include "header.html" %}
<div class="container my-5">
    <div class="row">
        <div class="col-12">
            <h1>STEEP Scenario Builder</h1>
            <br>
            <p>With the Scenario Builder, you can perform bulk calculations of a series of trips. These calculations can
            be done for your complete organization. For detailed entry of home-work addresses, vehicle parameters and departure time,
            we recommend using the option to load the trip settings from an Excel-file.</p>

            <div class="row my-5" id="entry-choice">
                <div class="col-4 offset-2">
                    <button class="btn btn-primary btn-manual-entry w-100">Manual Entry</button>
                </div>
                <div class="col-4">
                    <button class="btn btn-success btn-excel-entry w-100">Excel Entry</button>
                </div>
            </div>

            <div class="row my-5" id="manual-container" style="display:none;">
                <div class="col-12">
                    <form id="form-calculate_scenario" action="{{ url_for('calculate_scenario') }}" method="post" role="form">
                        <h4>Route Settings</h4>
                        <div class="row my-3">
                            <div class="col-3 pr-0">
                                <input id="start" type="text" class="form-control" name="start" placeholder="Start" required>
                                <input id="start-coords" type="hidden" name="start-coords" required>
                            </div>
                            <div class="col-3 pr-0">
                                <input id="dest" type="text" class="form-control" name="dest" placeholder="Destination" required>
                                <input id="dest-coords" type="hidden" name="dest-coords" required>
                            </div>
                            <div class="col-3 pr-0">
                                <select id="route-type" name="route-type" class="form-control">
                                    <option value="" disabled selected>Route type</option>
                                    {% for routetype in routetypes %}
                                        <option value="{{routetype|lower}}">{{routetype}}</option>"
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-2 offset-1 mt-2">
                                <input type="checkbox" class="form-check-input" name="traffic" id="traffic">
                                <label class="form-check-label" for="traffic">Include traffic</label>
                            </div>
                        </div>
                        <hr/>
                        <h4>Vehicle Settings</h4>
                        <div class="row my-3">
                            <div class="col-4">
                                <select id="fuel" name="fuel" class="form-control v-param" data-idx="0">
                                    <option value="" disabled selected>Select a fuel type</option>
                                    {% for fuel in fuels %}
                                        <option value="{{fuel}}">{{fuel}}</option>"
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-4">
                                <select id="segment" name="segment" class="form-control v-param" data-idx="1" disabled>
                                        <option value="" disabled selected>Select a segment</option>
                                    {% for segment in segments %}
                                        <option value="{{segment}}">{{segment}}</option>"
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-4">
                                <select id="standard" name="standard" class="form-control v-param" data-idx="2" disabled>
                                    <option value="" disabled selected>Select a standard</option>
                                    {% for standard in standards %}
                                        <option value="{{standard}}">{{standard}}</option>"
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <hr/>
                        <h4>Commute Settings</h4>
                        <div class="row mt-3">
                            <div class="col-4">
                                <label for="date-range">Date range</label>
                                <input id="date-range" name="date-range" class="form-control" type="text" placeholder="Define a date range..." readonly="readonly">
                            </div>
                            <div class="col-8">
                                <label for="weekdays">Commute days</label>
                                <div id="weekdays"></div>
                                <input id="weekdays-input" type="hidden" value="0,1,2,3,4" name="weekdays">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-4">
                                <label for="departure-time">Departure Time</label>
                                <input id="departure-time" type="text" class="form-control" name="departure-time" placeholder="Pick a time..." required>
                            </div>
                            <div class="col-4">
                                <label for="return-time">Return Time</label>
                                <input id="return-time" type="text" class="form-control" name="return-time" placeholder="Pick a time..." required>
                            </div>
                            <div class="col-4">
                                <label for="commuters">Number of commuters</label>
                                <input id="commuters" type="number" class="form-control" name="commuters" value="1" min="1" max="10" step="1" placeholder="Enter a number" required>
                            </div>
                        </div>
                        <div class="row my-5">
                            <div class="col-4 offset-4">
                                <button id="calculate-btn" class="btn btn-primary" type="button" style="width:100%">Run Scenario</button>
                                <div id="form_error" class="invalid-feedback"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="row my-5" id="excel-container" style="display:none;">
                Excel container
            </div>

            <div class="row my-5" id="scenario-report" style="display:none;">
                <hr/>
                <div class="col-12">
                    <h2 class="my-3">Scenario Report</h2>
                    <h4 class="my-3">Scenario Statistics</h4>
                    <table id="scenario-table" class="table">
                      <thead>
                        <tr>
                          <th scope="col">Route Parameter</th>
                          <th scope="col">Total</th>
                        </tr>
                      </thead>
                    </table>

                    <h4 class="my-3">Aggregated Emission Intensity Chart</h4>
                    <div class="row">
                        <div class="col-10 d-flex justify-content-center">
                            <canvas id="heatmap" width="800" height="400"></canvas>
                        </div>
                        <div class="col-2 d-flex justify-content-start">
                            <div id="chart-legend"></div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>

</div>
{% include "footer.html" %}
